[MESSAGES CONTROL]
disable=missing-docstring,logging-fstring-interpolation,too-few-public-methods,no-member,no-self-use,too-many-arguments,duplicate-code

[MASTER]
ignore=migrations,venv,tests,.venv,data
extension-pkg-whitelist=pydantic

[FORMAT]
max-line-length=120
indent-string='    '
good-names=db, i
