name: Lint

on:
  - pull_request

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      -
        uses: actions/checkout@v2
      -
        name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      -
        name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --requirement requirements.txt
          python -m pip install --upgrade pre-commit==2.12.0 pylint==2.7.4
      -
        name: flake8
        run: pre-commit run flake8 --all-files --show-diff-on-failure
      -
        name: pylint
        run: pre-commit run pylint --all-files --show-diff-on-failure
      -
        name: mypy
        run: pre-commit run mypy --all-files --show-diff-on-failure
